@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-poppins);
}

.btn-black{
  @apply px-6 py-2 bg-black text-white rounded-full flex items-center gap-1 cursor-pointer hover:bg-green-600 font-[400] duration-300 transition-all
}

.btn-green{
  @apply px-6 py-2 bg-green-600 text-white rounded-full flex items-center gap-1 cursor-pointer hover:bg-black font-[400] duration-300 transition-all
}

.btn-transparent{
  @apply flex gap-1 px-6 py-2 bg-white text-black rounded-full cursor-pointer hover:underline font-[400] duration-300 transition-all
}

@media  screen and (max-width: 768px) {
  .btn-green{
    @apply w-full flex justify-center
  }
  .btn-transparent{
    @apply w-full flex justify-center
  }
  .sm-w-full{
    @apply w-full
  }
}



.leftAos {
  animation: fadeIn 0.8s linear forwards;
}

@keyframes fadeIn {
  from {
    transform: translateX(-100) scale(0.8) translateY(-50);
    opacity: 0;
  }
  to {
    transform: translateX(0) scale(1) translateY(0);
    opacity: 1;
  }
}




@keyframes fadeRight {
  from {
    transform: translateX(100) scale(0.8) translateY(-50);
    opacity: 0;
  }
  to {
    transform: translateX(0) scale(1) translateY(0);
    opacity: 1;
  }
}

.rightAos {
  animation: fadeRight 0.8s ease-in-out forwards;
  animation-timeline: view(70%, auto);

}

/* camp  */
/* camp  */
/* camp  */
.bg-bg-img-1{
  background-image: url(../public/img-1.png);
  height: 340px;
  width: 500px !important;
  background-position: center;
  background-size: cover;
}
.bg-bg-img-2{
  background-image: url(../public/img-2.png);
  height: 340px;
  width: 500px !important;
}