@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-poppins);
}

.btn-black{
  @apply px-6 py-2 bg-black text-white rounded-full flex items-center gap-1 cursor-pointer hover:bg-green-600 font-[400] duration-300 transition-all
}

.btn-green{
  @apply px-6 py-2 bg-green-600 text-white rounded-full flex items-center gap-1 cursor-pointer hover:bg-black font-[400] duration-300 transition-all
}

.btn-transparent{
  @apply flex gap-1 px-6 py-2 bg-white text-black rounded-full cursor-pointer hover:underline font-[400] duration-300 transition-all
}

@media  screen and (max-width: 768px) {
  .btn-green{
    @apply w-full flex justify-center
  }
  .btn-transparent{
    @apply w-full flex justify-center
  }
}